.actions {
  padding: 56px 56px 8px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.actions_heading {
  font: var(--h2-medium, normal 500 80px/0.95 var(--Manrope));
  letter-spacing: var(--letter-spacing-small, -0.04em);
}

.actions_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 24px;
}

.action_button {
  font: var(--button-text, normal 500 40px/0.95 var(--Manrope));
  background-color: transparent;
  border: none;
  letter-spacing: var(--letter-spacing-large, -0.06em);
  padding-block: 38px;
  border-radius: 8px;
  text-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.action_request {
  background-color: var(--rose, #FF213C);
  color: var(--main-color, #ffffff);
}

.action_brief {
  border: 2px solid var(--primary-color, #000000);;
}


@media (width < 1440px) {
  .actions {
    padding: 30px 40px;
    row-gap: 70px;
  }
}

@media (width <= 1024px) {
  .actions_buttons {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

@media (width <= 768px) {
  .actions {
    padding: 54px 16px 22px;
    row-gap: 25px;
  }
}