@use "../utils/" as *;

.header {
    @include flex_row(space-between, center);
    height: fit-content;
    margin-bottom: rem(25);
    height: $headerHeightDesktop;

    &__logo {
        width: rem(113);
        height: rem(56);
        background: url('/icons/logo_desk.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__nav {
        color: $red;
        @include fontMedium(18, 24.5);

        &--ul.desktop {
            @include flex_row(flex-start, center, rem(48));
        }

        > .mobile {
            display: none;
        }
    }

    @include break-down($break-tablet) {
        margin-bottom: rem(124);
    }
    
    // mobile
    @include break-down($break-tablet - 50) {
        height: $headerHeightMobile;

        &__logo {
            width: rem(80);
            height: rem(40);
            background: url('/icons/logo_mobile.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__nav {
            > .desktop {
                display: none;
            }

            > .mobile {
                display: block;
            }

            // btn
            &--btn {
                display: grid;
                place-content: center;
                margin-right: rem(4);
                width: fit-content;
                height: fit-content;
                position: relative;

                &::after {
                    content: url('/icons/menu_closed.svg');
                    display: block;
                    width: rem(32);
                    height: rem(32);
                    transform: translateY(25%);
                }
                
                
                &.open {
                    &::after {
                        content: url('/icons/menu_open.svg');
                        width: rem(32);
                        height: rem(32);
                        transform: translateY(5%);
                    }
                }
            }

            // nav list
            &--ul.mobile {
                @include flex_col(flex-start, flex-start, rem(16));
                @include fontMedium(40, 54.6, 0);

                background-color: $white;
                position: fixed;
                top: calc($headerHeightMobile + map-get(map-get($spacing-map, mobile), block));
                bottom: calc($footerHeightMobile + map-get(map-get($spacing-map, mobile), block));
                left: 0;
                padding-left: rem(16);
                padding-top: rem(64);
                width: 100vw;
                transform: translateX(-100%);
                z-index: 200;

                &.open {
                    transform: translateX(0);
                }
            }
        }
    }
}