@use '../utils/' as *;

.main {
    @include flex_col;
    margin-bottom: rem(24);
    flex: 1 1 auto;
    height: fit-content;

    background: url('/text/text_desktop.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // custom tablet
    @include break-down($break-custom-desktop) {
        background: url('/text/text_tablet.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    // tablet

    // mobile
    @include break-down($break-tablet) {
        background: url('/text/text_mobile.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: rem(130);
    }
}