@use '../utils/' as *;
@use 'sass:math' as math;


.main {
    $max-img-width: 2000;
    $min-img-width: 255;

    @include flex_col(center, center);
    flex: 1 1 auto;
    height: fit-content;
    position: relative;
    margin-bottom: rem(24);

    // bg text
    &__textBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/text/text_desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    // model img while downloading
    &__img {
        position: absolute;
        display: block;
        width: clamp(rem($min-img-width), calc(30.5vw + 40vh), rem($max-img-width));
        height: auto;
        z-index: 100;
        object-fit: cover;

        // when 3d model loads -> hide img
        &.hidden {
            display: none;
        }
    }

    // tablet - no 3d model loaded
    @media (max-width: rem($break-custom-tablet)) and (orientation: portrait) {
        &__img {
            width: clamp(rem($min-img-width), calc(28.5vw + 40vh), rem($max-img-width));    
        }

        &__textBg {
            background: url('/text/text_tablet.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media (max-width: rem($break-custom-tablet)) and (min-height: 1000px) and (orientation: portrait) {
        &__img {
            width: clamp(rem($min-img-width), calc(27.5vw + 48vh), rem($max-img-width));    
        }

        &__textBg {
            background: url('/text/text_tablet.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media (max-width: rem($break-custom-tablet)) and (max-height: 800) and (orientation: portrait) {
        &__img {
            width: clamp(rem($min-img-width), calc(27.5vw + 30vh), rem($max-img-width));    
        }

        &__textBg {
            background: url('/text/text_tablet.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media (max-width: rem($break-custom-tablet)) and (max-height: 820px) and (orientation: landscape) {
        &__img {
            width: calc(25.5vw + 28vh);
        }

        &__textBg {
            background: url('/text/text_desktop.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    // between table and mobile
    @media (max-width: 650px) and (orientation: portrait) {
        &__img {
            width: clamp(rem($min-img-width), calc(28.5vw + 32vh), rem($max-img-width));    
        }
    }

    @include break-down($break-custom-mobile) {
        &__textBg {
            background: url('/text/text_mobile.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @include break-down(440) {
        &__img {
            width: max(min(calc(28.5vw + 28.5vh), rem($max-img-width)), rem($min-img-width));
            min-height: rem(325);
        }
    }
}