.hero {
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color, #000000);
  background-color: var(--main-color, #ffffff);
}

.hero__with_bg {
  position: sticky;
  top: 0;
  z-index: -1;
  height: 100dvh;
  color: var(--main-color, #ffffff);
  background-color: var(--grey, #B5B5B5);
}

.hero_video {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.hero_content__proportional::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: linear-gradient(to top, #000000 -100%, transparent 100%);
}

.hero_content {
  display: grid;
  align-items: flex-end;
  padding: 216px 56px 56px;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  column-gap: 166px;
  z-index: 1;
}

.hero_content__proportional {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0px;
}

.hero_title {
  font: var(--h1-medium, normal 500 140px/1.33 var(--Manrope));
  letter-spacing: var(--letter-spacing-small, -0.04em);
  max-width: 514px;
}

.hero_description {
  font: var(--body-regular, normal 400 28px/1.3 var(--Manrope));
  max-width: 763px;
}

.hero__with_bg .hero_description {
  max-width: none;
}

@media (width < 1440px) {
  .hero_content {
    grid-template-columns: 1fr;
    row-gap: 48px;
    padding-inline: 40px;
    padding-block: 233px 70px;
  }
}

@media (width < 768px) {
  .hero_content {
    row-gap: 30px;
    padding-inline: 16px;
    padding-block: 144px 54px;
  }
}

