.list {
  columns: 2;
  column-fill: balance;
  column-gap: 137px;
  margin-left: 2.5rem;
}

.list li:not(:last-child) {
  margin-bottom: 40px;
}

.list_item {
  list-style: disc;
  text-wrap: balance;
}

@media (width < 1440px) {
  .list {
    columns: 1;
  }
}