@use 'functions' as *;

$break-desktop: 1440;
$break-tablet: 768;
$break-mobile: 360;
$break-custom-mobile: 500;
$break-custom-desktop: 900;
$break-custom-tablet: 1280;

@mixin break-down($max-width) {
    @media screen and (max-width: rem($max-width)) {
        @content;
    }
}

@mixin break-up($min-width) {
    @media screen and (min-width: rem($min-width)) {
        @content;
    }
}
