@use 'functions' as *;

$headerHeightDesktop: rem(66);
$headerHeightMobile: rem(40);
$footerHeightDesktop: rem(55);
$footerHeightMobile: rem(36);

$spacing-map: (
    desktop: (
        block: rem(56),
        inline: rem(56),
    ),
    tablet: (
        block: rem(40),
        inline: rem(24),
    ),
    mobile: (
        block: rem(24),
        inline: rem(16),    
    )
);