.burger {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-end;
}

.burger span {
  display: block;
  block-size: 7px;
  inline-size: 50px;
}

.burger span:last-child {
  inline-size: 26px;
}