@use '/src/styles/utils' as *;
@use './styles/modules/' as m;

// fonts
@font-face {
    font-family: Manrope;
    src: url('/fonts/Manrope-ExtraBold.ttf');
    font-weight: 800;
    display: swap;
}

@font-face {
    font-family: Manrope;
    src: url('/fonts/Manrope-SemiBold.ttf');
    font-weight: 400;
    display: swap;
}

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

body {
    @include flex_col(stretch, flex-start);
    min-height: 100vh;
	min-height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $white;

    padding-block: map-get(map-get($spacing-map, "desktop"), $key: block);
    padding-inline: map-get(map-get($spacing-map, "desktop"), $key: inline);

    // tablet
    @include break-down($break-custom-desktop) {
        padding-block: map-get(map-get($spacing-map, "tablet"), $key: block);
        padding-inline: map-get(map-get($spacing-map, "tablet"), $key: inline);
    }

    // mobile 
    @include break-down($break-tablet) {
        padding-block: map-get(map-get($spacing-map, "mobile"), $key: block);
        padding-inline: map-get(map-get($spacing-map, "mobile"), $key: inline);
    }
}