.wrapper {
  padding-block: 56px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 24px;
}

.load_triger {
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: transparent;
}

@media (width < 1440px) {
  .grid {
    row-gap: 42px;
    grid-template-columns: 1fr;
  }
  .wrapper {
    padding-block: 0;
  }
}