.case_preview {
  list-style: none;
}
.case_preview__link {
  display: block;
}
.case_preview__img {
  width: 100%;
  min-height: 584px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  margin-block-end: 25px;
}

.case_preview__company {
  font: var(--small-regular);
  margin-block-end: 10px;
}

.case_preview__title {
  font: var(--h3-medium);
  letter-spacing: var(--letter-spacing-small);
}




@media (width < 1440px) {
  .case_preview__img {
    margin-block-end: 22px;
  }  
  .case_preview__title {
    line-height: 1.45;
  }
  .case_preview__company {
    margin-block-end: 0;
  }
}

@media (width < 768px) {
  .case_preview__img {
    max-height: 343px;
    min-height: 343px;
    margin-block-end: 15px;
  }  
  .case_preview__company {
    font: var(--small-regular);
    margin-block-end: 7px;
  }
}