.wrapper {
  padding-block: 34px 52px;
}

.team {
  background-color: var(--rose, #ff213c);
  color: var(--main-color, #ffffff);
}

.team__heading {
  font: var(--h2-medium, normal 500 80px/0.95 var(--Manrope));
  letter-spacing: var(--letter-spacing-small, -0.04em);
  margin-bottom: 65px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.team__wrapper {
  position: relative;
  padding-inline: 56px;
  width: 100%;
}

.members {
  list-style: none;
  display: flex;
  column-gap: 53px;
  /* overflow-x: visible; */
}

.member {
  display: flex;
  flex-direction: column;
}

.member__img_wrapper {
  width: 395px;
  height: 584px;
  margin-block-end: 22px;
}

.member__img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member__position {
  font: var(--small-regular, normal 400 18px/1.3 var(--Manrope));
  margin-block-end: 8px;
}

.member__name {
  font: var(--body-regular, normal 400 28px/1.3 var(--Manrope));
}

/* .controls {
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 12;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0 0.75rem #000);
} */

.controls_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  & button:disabled {
    opacity: 50%;
  }
}

.control__disabled img {
  opacity: 0;
}

.control__left {
  left: 0;
}

.control__right {
  right: 0;
}

@media (width < 1400px) {
  .team__wrapper {
    padding-inline: 40px;
  }
  .team__heading {
    margin-bottom: 70px;
  }
  .wrapper {
    padding-block: 102px 103px;
  }
}

@media (width < 768px) {
  .team__wrapper {
    padding-inline: 15px;
  }
  .team__heading {
    margin-bottom: 72px;
  }
  .member__position {
    margin-block-end: 5px;
  }
  .members {
    column-gap: 16px;
  }
  .member__img_wrapper {
    margin-block-end: 15px;
    width: 300px;
    height: 517px;
  }
  .wrapper {
    padding-block: 54px;
  }


  .controls_icon {
    width: 38px;
    height: 38px;
  }
}
