.couple_columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.couple_columns__title {
  font-size: 80px;
  line-height: 76px;
  font-weight: 500;
  flex-basis: 50%;
  letter-spacing: -0.04em;
}

.couple_columns__content {
  flex-basis: 50%;
}

.top_border {
  border-block-start: 1px solid #000000;
  padding-top: 48px;
}

.project_name {
  margin-block-end: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}


@media (width < 1440px) {
  .couple_columns {
    gap: 70px;
    flex-direction: column;
  }
}

@media (width < 768px) {
  .couple_columns__title {
    font-size: 50px;
    line-height: 47.5px;
  }

  .couple_columns {
    gap: 30px;
  }

  .project_name {
    margin-block-end: 15px;
    font-size: 15px;
    line-height: 19.5px;
  }
}